#container-cart{
    height: 100vh;
    background-color: #EFF2F1;
}
.englobe{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 60%;
    margin:  auto;
    height: 300px;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: thin;
    position: relative;
}
.cart-bookig-text p{
    margin: 10px 0;
}

#cart{
    overflow: auto;
    scrollbar-width: thin;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.travel-carts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5EEEE;
    font-size: 12px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.travel-carts div {
    display: flex;
}

.travel-carts button {
    width: 50px;
    background-color: #4F9E87;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.travel-carts button:active{
    transform: scale(0.9);
}
.myCart{
    margin: 15px;
}

.text-total{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    display: none;
    background-color: #00153E;
    width: 100%;
    padding: 10px 0;
}
.text-total button {
    background-color: #4F9E87;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}